.Sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey;
}

.Sidebar > * {
    justify-content: center;
    align-items: center;
    display: flex;
}

.SearchCat {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchCat > input {
    width: 50%;
    height: 20%;
}

.SearchCat > label > span {
    margin-right: 20px;
}

.Categories {
    flex-basis: 70%;
    justify-content: flex-start;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.Name {
    flex-basis: 10%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.user-name {
    font-size: x-large;
}

.AddCat {
    flex-basis: 10%;
}

.Category {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    justify-content: center;
    /* max-height: 100px;
    overflow-y: auto; */
    width: 100%;
    margin: 12px 0;
}

.Category.selected {
    border-left: 4px solid white;
    color: white;
}

.Category.selected:hover {
    cursor: default;
    scale: 1;
    color: white;
}

.Category:hover {
    transition: 0.3s;
    scale: 0.98;
    color: #6798ff;
    cursor: pointer;
}

.cat-name {
    font-size: larger;
    margin-left: 10px;
}

.cat-desc {
    font-size: small;
    margin-left: 10px;
}
