.Sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1e1f21
}

.Sidebar > * {
    border: 1px solid grey;
}

.Categories {
    flex-grow: 7;
}

.Name {
    flex-grow: 1;
}

.SearchCat {
    flex-grow: 1;
}

.AddCat {
    flex-grow: 1;
}