.NoteSection {
    display: flex;
    background-color: #191a1c;
    flex-direction: column;
}

.NoteSection * {
    border: 1px solid grey ;
}

.Notes {
    flex-grow: 10;
}
.AddNote {
    flex-grow: 1
}
.Header {
    flex-grow: 1

}


