.App {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

.window {
  display: flex;
  margin: 30px;
  background-color: blue;
  min-height: 100%;
  border: 2px solid black;
  width: 100%;
}
