@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap");

:root {
    --primary-color: #1b1b1d;
    --secondary-color: #202124;
    --text-color: white;
    --note-red: #895b60;
    --note-red-light: #9b656c;
    --note-green: #366d34;
    --note-green-light: #458a42;
    --note-blue: #5d8d8b;
    --note-blue-light: #6ea5a2;
    --note-yellow: #817b3e;
    --note-yellow-light: #928b47;
    --note-purple: #6a5173;
    --note-purple-light: #856791;
}
* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.App {
    display: flex;
    color: #cec8c1;
    height: 100vh;
    font-weight: 400;
}

.Sidebar {
    flex-basis: 25%;
    background-color: var(--primary-color);
}

.NoteSection {
    flex-basis: 75%;
    background-color: var(--secondary-color);
}

button {
    background-color: transparent;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--text-color);
    outline: 0;
}

button:hover {
    background-color: var(--primary-color);
    /* scale: 1.04; */
    /* padding: 6px 11px; */
    font-size: 15px;
    transition: 0.2s;
}

